﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "TripPageDetails";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: darkslateblue;
        color: white;
    }

    .row {
        margin: 0 !important;
    }
    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }
    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Trip Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active"><a id="cname"></a>Trip Details</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <section style="background-color: #eee; padding-top:20px;">



                <div class="row">
                    @*<div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <a href="" name="profilepicturelogo" target="_blank">
                                        <img src="" alt="avatar" name="profilepicture"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3"><a id="cfname"></a></h5>
                                    </a>

                                </div>
                            </div>

                        </div>*@
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Trip Details</h5>
                                <br />
                                @*<div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Id :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="Id"></a></p>
                                    </div>
                                </div>*@
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Tripstatus :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="TripstatusName"></a></p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">CustomerName :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="tripcustomername"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">DriverName :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="tirpdrivername"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">PickUpAddress :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" id="pickUpaddress"><a name="pickUpaddress" class="c-text-primary"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">PickUpTime :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="PickUpTime"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">PickUpDate :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="PickUpDate"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">DropOffAddress :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="dropOffaddress"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">DropOffTime :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="DropOffTime"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">DropOffDate :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="DropOffDate"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">TripRatingByCustomer :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="TripRatingByCustomer"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">TripRatingByDriver :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="TripRatingByDriver"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">TripRemarkByCustomer :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="TripRemarkByCustomer"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">ExpectedPrice :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="Price"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">GST :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="GST"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">NightCharge :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="NightCharge"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Discount :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="TotalDiscount"></a></p>
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">FinalPrice :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="FinalAmount"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">DriverCommision :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="DriverCommision"></a></p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="row clearfix customerdetails">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <section style="background-color: #eee; padding-top:20px;">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <!--<div class="card-body text-center">
        <h5>Customer</h5>
        <a href="" name="customerprofilepicturelogo" target="_blank">
            <img name="customerprofilepicture" id="customerprofilepicture" onerror="DefaultImage(this)" class="rounded-circle round-img-table profile-size">-->
                            @*<img src="" alt="avatar" name="customerprofilepicture"
        class="rounded-circle img-fluid" style="width: 150px;">*@
                            <!--<h5 class="my-3"><a id="customername"></a></h5>
        </a>

    </div>-->
                            <div class="card-body text-center">
                                <h5>Customer</h5>
                                <a href="" name="profilepicturelogo" target="_blank">
                                    @*<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.NewApiUrl' + row['ProfilePictureStr']}">*@
                                    <img name="profilepicture" id="profilepicture" onerror="DefaultImage(this)" class="rounded-circle round-img-table profile-size" src="${'@Configurations.NewApiUrl' + row['ProfilePictureStr']}">
                                    @*alt="avatar" name="profilepicture"
            class="rounded-circle img-fluid" style="width: 150px;">*@
                                    <h5 class="my-3"><a id="customername"></a></h5>


                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="customeremail"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="customergender"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="customermobileno"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Date Of Birth</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="customerdob"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Id Proof</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" class="" name="customeridproof" target="_blank">
                                            <button type="button" class="btn btn-primary customeridproof">View Id Proof</button>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Rc Card</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" class="" name="customerrccard" target="_blank">
                                            <button type="button" class="btn btn-primary customerrccard">View Rc Card</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>
</div>


@*<div class="row clearfix driverdetail">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <section style="background-color: #eee; padding-top:20px;">



                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <h5>Driver</h5>
                                <a href="" name="driverprofilepicturelogo" target="_blank">
                                    <img src="" alt="avatar" name="driverprofilepicture"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3"><a id="drivername"></a></h5>
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="driveremail"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="drivergender"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="drivermobileno"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Date Of Birth</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="driverDOB"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Id Proof</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" class="" name="driveridproof" target="_blank">
                                            <button type="button" class="btn btn-primary driveridproof">View Id Proof</button>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Rc Card</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" class="" name="driverlicence" target="_blank">
                                            <button type="button" class="btn btn-primary driverlicence">Driving Licence</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>*@



@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}
@section Scripts {
    <script>
        $(document).ready(() => {
     
        getfaqId = new URLSearchParams(window.location.search);
        getfaqId = parseInt((getfaqId.get('FaqId')));
            TripDetail(getfaqId);
            //setTimeout(function () {
            //}, 100);
                //TripDetail(getfaqId);
     
        });
        setTimeout(function () {
            DriverDetails(DriverId);
            CustomerDetail(customerId);
        }, 200);
        var customerId;
        var DriverId;

        var pickUplat;
        var pickUplong;
    function TripDetail(getfaqId) {
        id = getfaqId
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.TripDetail, Controllers.Trip)',
            data: { Id: id },
            dataType: 'json',
            success: function (result) {

                //Trip Details

                $('#PickUpDate').html(result.Item.PickUpDateStr)
                $('#TripstatusName').html(result.Item.TripStatusName)
                $('#Id').html(result.Item.Id)
                $('#PickUpTime').html(result.Item.PickUpTimeStr)
                $('#DropOffDate').html(result.Item.DropOffDateStr)
                $('#DropOffTime').html(result.Item.DropOffTimeStr)
                $('#pickUpaddress').html(result.Item.Gender)
                $('#pickUplat').html(result.Item.PickUpLat)
                $('#pickUplong').html(result.Item.PickUpLong)
                pickUplat = result.Item.PickUpLat;
                pickUplong = result.Item.PickUpLong;
                DriverId = result.Item.AssignedId;
                customerId = result.Item.CustomerId;
                if (DriverId == 0 || null) {
                    $('.driverdetail').hide();
                }
                if (customerId == 0 || null) {
                    $('.customerdetails').hide();
                }
                CustomerDetail(customerId);
                DriverDetails(DriverId);
                $('#pickUpaddress').html(result.Item.PickUpAddress)
                $('#dropOffaddress').html(result.Item.DropOffAddress)
                $('#TripRatingByCustomer').html(result.Item.TripRatingByCustomer)
                $('#TripRemarkByCustomer').html(result.Item.TripRemarkByCustomer)
                $('#TripRatingByDriver').html(result.Item.TripRatingByDriver)
                $('#Price').html(result.Item.ExpectedPriceDetails.Price)
                $('#ConveyanceCharge').html(result.Item.ExpectedPriceDetails.ConveyanceCharge)
                $('#TotalDiscount').html(result.Item.ExpectedPriceDetails.TotalDiscount)
                $('#DriverCommision').html(result.Item.DriverCommision)
                $('#GST').html(result.Item.ExpectedPriceDetails.GST)
                $('#NightCharge').html(result.Item.ExpectedPriceDetails.NightCharge)
                $('#FinalAmount').html(result.Item.ExpectedPriceDetails.FinalAmount)
            },
            error: function (error) {
            }
        });
        }

     

        function CustomerDetail(customerId) {
            id = customerId
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.CustomerDetails, Controllers.Customer)',
            data: { Id: id },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                //$('#cname').html(result.Item.FirstName)
                $('#customername').html(result.Item.FirstName + " " + result.Item.LastName)
                if ($('#customername').val() == "") {
                    $('#customername').val('-')
                }
                $('#tripcustomername').html(result.Item.FirstName +" "+ result.Item.LastName)
                $('#customeremail').html(result.Item.Email)
                $('#customergender').html(result.Item.Gender)
                $('#customerdob').html(result.Item.DOB)
                $('#customermobileno').html(result.Item.MobileNo)

                $('[name="profilepicture"]').attr("src", result.Item.ProfilePictureStr);
                $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                //$('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                if (result.Item.ProfilePicture != null && result.Item.ProfilePicture != "") {
                    $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                } else {

                    $('[name="profilepicturelogo"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }

                if (result.Item.RcCard == null) {
                    $('.customerrccard').attr("disabled", "disabled");
                }
                else {

                    $('[name="customerrccard"]').attr("href", result.Item.RcCardStr);
                }

                if (result.Item.IdProof == null) {
                    $('.customeridproof').attr("disabled", "disabled");
                }
                else {

                    $('[name="customeridproof"]').attr("href", result.Item.IdProofStr);
                }
            },
            error: function (error) {
            }
        });
    }


        function DriverDetails(DriverId) {
            id = DriverId
            if (DriverId > 0) {


                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DriverDetails, Controllers.Driver)',
                    data: { Id: id },
                    dataType: 'json',
                    success: function (result) {
                        //$('#drivername').html(result.Item.FirstName)
                        $('#drivername').html(result.Item.FirstName + " " + result.Item.LastName)
                        $('#tirpdrivername').html(result.Item.FirstName + " " + result.Item.LastName)
                        if ($('#drivername').val() == "") {
                            $('#drivername').val('-')
                        }
                        if ($('#tirpdrivername').val() == "") {
                            $('#tirpdrivername').val('-')
                        }
                        $('#driveremail').html(result.Item.Email)
                        $('#drivergender').html(result.Item.Gender)
                        $('#driverDOB').html(result.Item.DOB)
                        $('#drivermobileno').html(result.Item.MobileNo)
                        if (result.Item.ProfilePicture == null) {
                            $('[name="driverprofilepicture"]').attr("src", "http://taxiadmin.rushkar.com/assets/images/user-default-profile.png");
                        }
                        else {
                            $('[name="driverprofilepicture"]').attr("src", result.Item.ProfilePictureStr);
                        }
                        $('[name="driverprofilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                        //$('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                        //$('[name="driveridproof"]').attr("href", result.Item.IdProofStr);
                        if (result.Item.DrivingLicence == null) {
                            $('.driverlicence').attr("disabled", "disabled");
                        }
                        else {

                            $('[name="driverlicence"]').attr("href", result.Item.DrivingLicenceStr);
                        }

                        if (result.Item.IdProof == null) {
                            $('.driveridproof').attr("disabled", "disabled");
                        }
                        else {

                            $('[name="driveridproof"]').attr("href", result.Item.IdProofStr);
                        }

                    },
                    error: function (error) {
                    }
                });
            }
            else {
                $('#tirpdrivername').html('-');
                $('#drivername').html('-');
            }
    }


    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}