﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Send Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<style>

    .checkbox2 {
        width: 25px;
        height: 25px;
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
    thead {
        background: #0069D9;
        color: white;
    }

    .btn-secondary {
        color: white !important;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUserNotification-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUserNotification-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUserNotification-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUserNotification: 1px solid #d4d4d4;
        bUserNotification-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUserNotification-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUserNotification: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }
    .btn-primary {
        color: #fff !important;
        background-color: darkslateblue !important;
        border-color: darkslateblue !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }
   /* .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }*/

    div.dt-buttons {
        float: right !important;
    }

    .select2-container {
        width: 100% !important;
    }
</style>

<div class="content container-fluid">
    <div class="row">
        <div class="col-8 mb-4">
            <h5>Send Notifications</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserNotificationTable">
                <div class="content container-fluid">
                    <div class="row">
                    </div>
                    <form action="" method="post" novalidate="novalidate" id="CustomernotificationsForm">
                        <div class="card mb-4 mt-3">
                            @*<div class="card-header">
                                <h6 class="mb-0">Send Notifications</h6>
                            </div>*@
                            <div class="card-body p-2">
                                <div class="col-lg-12 col-12 p-1">
                                    <label>Customers</label>
                                    @Html.Raw(Html.DropDownList("CustomerId", (IEnumerable<SelectListItem>)ViewBag.CustomersAll, new { @Id = "CustomerId", @multiple = "multiple", @name = "CustomerId", data_live_search = "true", @class = "form-control selectpicker" }))
                                    <input type="hidden" id="CustomerIds" />
                                </div>
                                <div class="col-lg-12 col-12 p-1">
                                    <label>Description</label>
                                    <textarea name="Description" id="Description" class="form-control" value="Description" rows="4" placeholder="Please enter description"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class=" p-2 text-right ">
                                <input class="btn btn-primary" type="submit" value="Send">
                                @*<input id="btnSave" type="submit" class="btn btn-primary saveBtn" value="Send" onclick="AddUserNotifications()" />*@
                                @*<button class="btn btn-info loading" id="loadId" type="button" disabled="" style="display:none;float:right;">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Sending...
                                    </button>*@
                                <button id="btnSearch" type="button" class="btn btn-secondary saveBtn" onclick="Reset(true)">Reset</button>
                                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    reseting...
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script>

        document.onreadystatechange = function () {
            $(".multiselect-button").attr("data-actions-box", "true")
            $(".multiselect-button").attr("multiple", "")
            $('.select-search').attr('data-live-search', 'true');
            $('ul[class="dropdown-menu inner show"]').attr("id", "dropdownbutton");
            $("#dropdownbutton").prepend(
                "<div class='bs-actionsbox'><div class='btn-group btn-group-sm btn-block'><button type='button' class='actions-btn bs-select-all btn btn-light'>Select All</button><button type='button' class='actions-btn bs-deselect-all btn btn-light'>Deselect All</button></div></div>");

        }

        //$('.selectpicker').selectpicker({
        //    liveSearch: true,
        //    showSubtext: true,

        //});

        //$("#CustomerId").append('<option value="" disabled selected hidden> Please select Users </option>');

        $(document).ready(() => {
            //$('ul[class="dropdown-menu inner show"]').attr("id", "dropdownbutton");
            //$('#dropdownbutton').css({ 'max-height': '160px' });
            //$('#dropdownbutton').css({ 'overflow:': 'auto' });

            $('.selectpicker').selectpicker('refresh');

            $("#CustomernotificationsForm").validate({
                rules: {
                    CustomerId: "required",
                    Description: "required",
                },
                messages: {
                    CustomerId: { required: "Please select the user" },
                    Description: { required: "Please enter description of notification" },
                },
                submitHandler: function () {
                    if ($("#CustomerId").val().length > 0) {
                        var s = $("#CustomerId").val().join(",");
                        $("#CustomerIds").val(s);
                    }
                    AddUserNotifications();
                }
            });
        });


        function AddUserNotifications() {
            debugger;
            $(".saveBtn").hide();
            $("#loadId").show();
            var userdata = {
                CustomerIds: $('#CustomerIds').val(),
                Message: $("#Description").val(),
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.CustomerNotifications_Upsert, Controllers.CustomerNotifications)',
                data: userdata,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $('#CustomerId').val(null).trigger('change');
                        $('#Description').val('');
                        /*$('#addUserNotifications').modal('hide');*/
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    }
                    else {
                        swal("Error !", response.Message, "error",2000);
                    }
                    $(".saveBtn").show();
                    $("#loadId").hide();
                }

            });
        }

        const Reset = (isReset = false) => {
            if (isReset == true) {
                $('#CustomerId').val(null).trigger('change');
                $('#Description').val('');
            }
            var $alertas = $('#CustomernotificationsForm');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
        }

    </script>
}
