﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Customers";
}


<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: darkslateblue;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, darkslateblue, darkslateblue);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }
    .them-btn {
        background: darkslateblue !important;
        color: #fff !important;
        border: none !important;
        background: darkslateblue !important;
    }
    .hideDelete {
        display: none !important;
    }
    .save {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 ><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Customers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Manage Customers</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divUsersTable">
                    <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fadeIn" id="UsersFilterPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Customer Filters</h6>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Gender</label>
                        <div class="form-group">
                            <select class="form-control" id="SearchGender" name="SearchGender">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Status</label>
                        <div class="form-group">
                            <select class="form-control" id="SearchStatus" name="SearchStatus">
                                <option value="2" selected>All</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary save" onclick="SearchReset(false);">Search</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {
  
    <script>

        $(document).ready(() => {


            UsersDataTable.init();
        });
             var UsersDataTable = function () {

                let initTable1 = function () {
                    let table = $('#UsersTable');

                    let oTable = table.dataTable({
                        "stateSave": true,
                        "autoWidth": false,
                        "paging": true,
                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "No matching records found"
                        },
                        "pageLength": 10,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            async: true,
                            url: '@Url.Action(Actions.ViewAllData, Controllers.Customer)',
                            type: "post",
                            data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Profile", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["ProfilePicture"] == "" || row["ProfilePicture"] == null) {
                                    htmlData = `<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.NewApiUrl' + row["ProfilePictureStr"]}">`;
                                } else {
                                    htmlData = `<a href="${row["ProfilePictureStr"]}" target="_blank"><img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${row["ProfilePictureStr"]}"></a>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Customer Details", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0">${row["FirstName"] + " " + row["LastName"]}</p>`;
                                 return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Is Active ?", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${btoa(row["Id"])}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${btoa(row["Id"])}');" class="badge badge-danger">In-Active</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        @*{
                            "title": "Id Proof", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IdProof"] == "" || row["IdProof"] == null) {
                                    htmlData = `<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.ApiUrl' + row["IdProof"]}">`;
                                } else {
                                    htmlData = `<a href="${'@Configurations.ApiUrl' + row["IdProof"]}" target="_blank"><img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.ApiUrl' + row["IdProof"]}"></a>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Id Proof Approved?", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsIdProofApproved"] == 1) {
                                    htmlData = `<button onclick="IdProofUnApproved('${btoa(row["Id"])}');" class="badge badge-primary">Approved</button>`;
                                } else {
                                    htmlData = `<button onclick="IdProofApproved('${btoa(row["Id"])}');" class="badge badge-danger">Un Approved</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },*@
                        @*{
                            "title": "Rc Card", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["RcCard"] == "" || row["RcCard"] == null) {
                                    htmlData = `<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.ApiUrl' + row["RcCard"]}">`;
                                } else {
                                    htmlData = `<a href="${'@Configurations.ApiUrl' + row["RcCard"]}" target="_blank"><img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.ApiUrl' + row["RcCard"]}"></a>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Rc Card Approved?", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsRcApproved"] == 0) {
                                    htmlData = `<button onclick="RcCardApproved('${btoa(row["Id"])}');" class="badge badge-danger">Un-Approved</button>`;
                                } else {
                                    htmlData = `<button onclick="RcCardUnApproved('${btoa(row["Id"])}');" class="badge badge-primary">Approved</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },*@
                        {
                            "title": "Total Trip", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["TripCount"] > 0) {
                                    htmlData = `<p class="mb-0"><b>${row["TripCount"]}</b></p>`;
                                }
                                    else {
                                    htmlData = `<p class="mb-0"><b>${row["TripCount"]}</b></p>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                @*htmlData += `<a href="@Url.Action(Actions.CustomerDetails, Controllers.Customer)?ri=${btoa(row["Id"])}"><button class="btn btn-sm btn-outline-secondary mr-1"><i class="fa fa-eye"></i></button></a>`;*@
                                htmlData += `<a href="@Url.Action(Actions.MyDetails, Controllers.Customer)?FaqId=${(row["Id"])}"><button class="btn btn-sm btn-outline-secondary mr-1" onclick="EditCustomer('${btoa(row["Id"])}');"><i class="fa fa-eye"></i></button></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },


                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Filters',
                                className: 'them-btn',
                                action: function (e, dt, node, config) {
                                    OpenUsersFiltersPopup();
                                }
                            },
                            {
                                text: 'Reset',
                                className: 'them-reset-btn',
                                action: function () {
                                    SearchReset(true)
                                }
                            }
                            //{ extend: 'excel', className: 'them-btn' }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        if ($.fn.DataTable.isDataTable("#UsersTable")) {
                            $('#UsersTable').dataTable().fnDestroy();
                            $('#divUsersTable').html('<table class="table table-striped" width="100%" id="UsersTable"></table>');
                        }
                        initTable1();
                    }
                };
        }();



        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                param["IsActiveForFilter"] = $("#SearchStatus").val();
                param["Gender"] = $("#SearchGender").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        //Fillter modal open function
        const OpenUsersFiltersPopup = () => {
            $("#UsersFilterPopup").modal("show");
        }
        function EditFaq(getfaqId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetFaqById, Controllers.Faq)',
                data: { Id: getIdfaq},
                dataType: 'json',
                success: function (result) {
                    $('#orderStatusid').val(result.Item.Id)
                    var abc = (result.Item.ForFaq)
                    $('input:radio[name="forfaq"][value="'+abc+'"]')
                        .attr('checked', true);
                    var question = $('#question').val(result.Item.Question)
                    CKEDITOR.instances['question'].setData(question)
                    var answer = $('#answer').val(result.Item.Answer)
                    CKEDITOR.instances['answer'].setData(answer)
                },
                error: function (error) {

                }
            });
        }
        //Fillter date reset function
        const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#SearchGender").val("");
                $("#SearchStatus").val(2);
            }
            UsersDataTable.init();
            $("#UsersFilterPopup").modal("hide");
        }

        //InactiveMessage swal function
        function InactiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                  ActiveInActive(Id,"inactivate" , 2);
               });
        }


        function EditCustomer(getfaqId) {
            id = getfaqId
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.CustomerDetails, Controllers.Customer)',
                data: { Id: id},
                dataType: 'json',
                success: function (result) {

                },
                error: function (error) {
                }
            });
        }

        //ActiveMessage swal function
        function ActiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                 ActiveInActive(Id,"activate", 1);
               });
        }

        //status ActiveInActive change function
        function ActiveInActive(rui, type, LookUpStatusId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActiveInActive, Controllers.Customer)',
                data: { ri: rui, lookUpStatusId: LookUpStatusId },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "inactivate") {
                        swal("In Activated !", "The customer has been in-activated successfully.", "success");
                    } else if (type == "activate") {
                        swal("Activated !", "The customer has been activated successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "inactivate") {
                        swal("Error !", "An error occured while in-activating the customer.", "error");
                    } else if (type == "activate") {
                        swal("Error !", "An error occured while activating the customer.", "error");
                    }

                }
            });
        }
        function IdProofUnApproved(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be UnApproved Id Proof Of Customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                  ApprovedUnApprovedIdProof(Id,"unapproved");
               });
        }

        function IdProofApproved(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be Approved Id Proof Of Customer!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedIdProof(Id,"approved");
               });
        }

        function ApprovedUnApprovedIdProof(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedIdProof, Controllers.Customer)',
                data: { ri: rui },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "unapproved") {
                        swal("In Activated !", "The Customer Id Proof has been un approved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Customer Id Proof has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "unapproved") {
                        swal("Error !", "An error occured while un-approved id proof  of  Customer.", "error");
                    } else if (type == "approved") {
                        swal("Error !", "An error occured while approved id proof of Customer.", "error");
                    }

                }
            });
        }
        function RcCardUnApproved(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be UnApproved Rc Card Of Customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedRcCard(Id,"unapproved");
               });
        }

        function RcCardApproved(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be Approved Rc Card Of Customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedRcCard(Id,"approved");
               });
        }

        function ApprovedUnApprovedRcCard(rui, type) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedRcCard, Controllers.Customer)',
                data: { ri: rui },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "unapproved") {
                        swal("In Activated !", "The Rc Card has been un approved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Rc Card has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "unapproved") {
                        swal("Error !", "An error occured while un-approved Rc Card of  Customer.", "error");
                    } else if (type == "approved") {
                        swal("Error !", "An error occured while approved Rc Card of Customer.", "error");
                    }

                }
            });
        }

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}