﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "MyDetails";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: darkslateblue;
        color: white;
    }

    .row {
        margin: 0 !important;
    }
    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }


    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Customers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active"><a id="cname"></a> Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <section style="background-color: #eee; padding-top:20px;">



                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <a href="" name="profilepicturelogo" target="_blank">
                                    @*<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.NewApiUrl' + row['ProfilePictureStr']}">*@
                                    <img name="profilepicture" id="profilepicture" onerror="DefaultImage(this)" class="rounded-circle round-img-table profile-size full_img_profile" src="${'@Configurations.NewApiUrl' + row['ProfilePictureStr']}">
                                    @*alt="avatar" name="profilepicture"
                                        class="rounded-circle img-fluid" style="width: 150px;">*@
                                    <h5 class="my-3 profile_name"><a id="cfname"></a></h5>


                                </a>
                            </div>
                        </div>

                    </div>
                    @*<div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <a href="" name="profilepicturelogo" target="_blank">
                                        <img src="" alt="avatar" name="profilepicture"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3"><a id="cfname"></a></h5>
                                    </a>

                                </div>
                            </div>

                        </div>*@
                    <div class="col-lg-9 main_content">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="emailcust"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="gendercust"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="phonecust"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Date Of Birth</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="dobcust"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Id Proof</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" name="idproofcust" target="_blank">
                                            <button type="button" class="btn btn-primary">View Id Proof</button>
                                        </a>
                                        <button type="button" id="IdProofUnApproved1" class="btn btn-secondary" onclick="IdProofUnApproved()"> Id Proof Approved </button>
                                        <button type="button" id="IdProofApproved1" class="btn btn-secondary" onclick="IdProofApproved()"> Id Proof Un Approved </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Rc Card</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" name="rccardcust" target="_blank">
                                            <button type="button" class="btn btn-primary">View Rc Card</button>
                                        </a>
                                        <button type="button" id="unapprovedId" class="btn btn-secondary" onclick="RcCardUnApproved()"> Rc Card Approved </button>
                                        <button type="button" id="approvedId" class="btn btn-secondary" onclick="RcCardApproved()"> Rc Card Un Approved </button>
                                    </div>
                                </div>

                            </div>
                        </div>

            </section>
            <div class="body">
                <h3 class="align-self-lg-center">Total Trip</h3>
                <div class="portlet-body table-responsive" id="divUsersTable">
                    <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}
@section Scripts {
    <script>

    $(document).ready(() => {
        getfaqId = new URLSearchParams(window.location.search);
        getfaqId = parseInt((getfaqId.get('FaqId')));
        EditCustomer(getfaqId);
        setTimeout(function () {
            if (IdProofApprovedVar == 0) {

                $('#IdProofUnApproved1').hide();
                $('#IdProofApproved1').show();
            }
            else {
                $('#IdProofApproved1').hide();
                $('#IdProofUnApproved1').show();
            }
            UsersDataTable.init();
            if (RcCardApprovedVar == 0) {

                $('#unapprovedId').hide();
                $('#approvedId').show();
            }
            else {
                $('#approvedId').hide();
                $('##unapprovedId').show();
            }
        }, 100)

        //$("#approvedId").click()
        });
        var IdProofApprovedVar;
        var RcCardApprovedVar;
    function EditCustomer(getfaqId) {
        id = getfaqId
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.CustomerDetails, Controllers.Customer)',
            data: { Id: id },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                $('#cname').html(result.Item.FirstName)
                $('#cfname').html(result.Item.FirstName +" "+ result.Item.LastName)
                $('#emailcust').html(result.Item.Email)
                $('#gendercust').html(result.Item.Gender)
                $('#dobcust').html(result.Item.DOB)
                $('#phonecust').html(result.Item.MobileNo)
                $('[name="profilepicture"]').attr("src", result.Item.ProfilePictureStr);
                $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                //$('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                if (result.Item.ProfilePicture != null && result.Item.ProfilePicture != "") {
                    $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                } else {

                    $('[name="profilepicturelogo"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                if (result.Item.RcCard != null && result.Item.RcCard != "") {
                    $('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                } else {

                    $('[name="rccardcust"]').attr("href","https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                RcCardApprovedVar = result.Item.IsRcApproved;

                if (result.Item.IdProof != null && result.Item.IdProof != "") {
                    $('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                } else {

                    $('[name="idproofcust"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                //$('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                IdProofApprovedVar = result.Item.IsIdProofApproved;
            },
            error: function (error) {
            }
        });
    }

    function RcCardApproved() {
        Id = getfaqId
        swal({
            title: "Are you sure ?",
            text: "You will be Approved Rc Card Of Customer !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ApprovedUnApprovedRcCard(Id, "approved");
            $('#approvedId').hide();
            $('#unapprovedId').show();
        });
    }

        function RcCardUnApproved() {
            Id = getfaqId
            swal({
                title: "Are you sure ?",
                text: "You will be Un Approved Rc Card Of Customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedRcCard(Id, "unapproved");
                $('#unapprovedId').hide();
                $('#approvedId').show();
            });
        }
        function ApprovedUnApprovedRcCard(rui, type) {
            myid = btoa(rui);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedRcCard, Controllers.Customer)',
                data: { ri: myid },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "unapproved") {
                        swal("In Activated !", "The Rc Card has been unapproved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Rc Card has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "approved") {
                        swal("Error !", "An error occured while unapproved Rc Card of  Customer.", "error");
                    } else if (type == "unapproved") {
                        swal("Error !", "An error occured while approved Rc Card of Customer.", "error");
                    }

                }
            });
        }

        function IdProofApproved() {
            Id = getfaqId
            swal({
                title: "Are you sure ?",
                text: "You will be Approved Id Proof Of Customer!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedIdProof(Id, "approved");
                $('#IdProofApproved1').hide();
                $('#IdProofUnApproved1').show();
               });
        }
        function IdProofUnApproved() {
            Id = getfaqId
            swal({
                title: "Are you sure ?",
                text: "You will be UnApproved Id Proof Of Customer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedIdProof(Id, "unapproved");
                $('#IdProofUnApproved1').hide();
                $('#IdProofApproved1').show();
            });
        }
        function ApprovedUnApprovedIdProof(rui, type) {
            myid = btoa(rui);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedIdProof, Controllers.Customer)',
                data: { ri: myid },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "unapproved") {
                        swal("In Activated !", "The Customer Id Proof has been unapproved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Customer Id Proof has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "unapproved") {
                        swal("Error !", "An error occured while un-approved id proof  of  Customer.", "error");
                    } else if (type == "approved") {
                        swal("Error !", "An error occured while approved id proof of Customer.", "error");
                    }

                }

            });
        }

    var UsersDataTable = function () {

        let initTable1 = function () {
            let table = $('#UsersTable');

            let oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.ViewAllData, Controllers.Trip)',
                    type: "post",
                    data: BuildSearchCriteria(),
                },
                "columns": [
                    {
                        "title": "Trip Details", "data": "",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<p class="mb-0 text-truncate" title="${row["PickUpDateStr"]}"><b>TripDate: </b>${row["PickUpDateStr"]}</p>`;
                            htmlData += `<p class="mb-0 text-truncate" title="${row["PickUpTimeStr"]}"><b>TripTime: </b>${row["PickUpTimeStr"]}</p>`;
                            htmlData += `<p class="mb-0 text-truncate " title="${row["PickUpAddress"]}"><b>PickUpAddress : </b>
                                    <a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["PickUpLat"]},${row["PickUpLong"]}">${row["PickUpAddress"] == "" || row["PickUpAddress"] == null ? '-' : row["PickUpAddress"]}</a>
                                </p>`;
                            htmlData += `<p class="mb-0 text-truncate " title="${row["DropOffAddress"]}"><b>DropOffAddress : </b>
                                    <a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["DropOffLat"]},${row["DropOffLong"]}">${row["PickUpAddress"] == "" || row["DropOffAddress"] == null ? '-' : row["DropOffAddress"]}</a>
                                </p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "Customer Details", "data": "",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        htmlData += `<p class="mb-0"><b>Country : </b>${row["LookUpCountry"] == "" || row["LookUpCountry"] == null ? '-' : row["LookUpCountry"]}</p>`;
                    //        htmlData += `<p class="mb-0"><b>State : </b>${row["LookUpState"] == "" || row["LookUpState"] == null ? '-' : row["LookUpState"]}</p>`;
                    //        htmlData += `<p class="mb-0"><b>City : </b>${row["City"] == "" || row["City"] == null ? '-' : row["City"]}</p>`;
                    //        htmlData += `<p class="mb-0"><b>MobileNo: </b>${row["CustomerMobileNo"] == "" || row["CustomerMobileNo"] == null ? '-' : row["CustomerMobileNo"]}</p>`;
                    //        htmlData += `<p class="mb-0"><b>ZipCode : </b>${row["ZipCode"] == "" || row["ZipCode"] == null ? '-' : row["ZipCode"]}</p>`;
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    {
                        "title": "Driver Details", "data": "",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData += `<p class="mb-0"><b>Name : </b>${row["AssignedDriverName"] == "" || row["AssignedDriverName"] == null ? '-' : row["AssignedDriverName"]}</p>`;
                            htmlData += `<p class="mb-0"><b>MobileNo : </b>${row["AssignedDriverMobileNo"] == "" || row["AssignedDriverMobileNo"] == null ? '-' : row["AssignedDriverMobileNo"]}</p>`;
                            htmlData += `<p class="mb-0"><b>VehicleNo : </b>${row["AssignedDriverVehicleNo"] == "" || row["AssignedDriverVehicleNo"] == null ? '-' : row["AssignedDriverVehicleNo"]}</p>`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Created Date", "data": "",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            htmlData = `${row["CreatedDateStr"] == "" || row["CreatedDateStr"] == null ? '-' : row["CreatedDateStr"]}`;
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    {
                        "title": "Status", "data": "",
                        "render": function (data, type, row) {
                            let htmlData = "";
                            if (row["TripStatusId"] == 1) {
                                htmlData = `<button class="badge badge-primary">New Trip</button>`;
                            } else if (row["TripStatusId"] == 2) {
                                htmlData = `<button class="badge badge-info">Assign Driver</button>`;
                            } else if (row["TripStatusId"] == 3) {
                                htmlData = `<button class="badge badge-warning">Trip Begin</button>`;
                            } else if (row["TripStatusId"] == 4) {
                                htmlData = `<button class="badge badge-success">Trip End</button>`;
                            } else if (row["TripStatusId"] == 5) {
                                htmlData = `<button class="badge badge-danger">TRIP CANCELLED BY CUSTOMER</button>`;
                            }
                            return htmlData;
                        }
                        , "orderable": false, "width": "3%"
                    },
                    //{
                    //    "title": "Action", "data": "",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        if (row["TripStatusId"] == 2) {
                    //            htmlData += `-`;
                    //        }
                    //        else {
                    //            htmlData += `<button class="btn btn-primary mr-1" onclick="changeStatus(${(row["Id"])});">Change Status</button>`;
                    //        }

                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                    //{
                    //    "title": "Assigned Driver:", "data": "",
                    //    "render": function (data, type, row) {
                    //        let htmlData = "";
                    //        if (row["AssignedId"] > 0) {
                    //            htmlData += `-`;
                    //        }
                    //        else {
                    //            htmlData += `<button class="btn btn-primary mr-1" onclick="assignedDriver(${(row["Id"])});">Assigned Driver</button>`;
                    //        }
                    //        return htmlData;
                    //    }
                    //    , "orderable": false, "width": "3%"
                    //},
                ],
                // setup buttons extentension: http://datatables.net/extensions/buttons/
                "buttons": [
                    //{ extend: 'excel', className: 'them-btn' }
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20, 1000],
                    [5, 10, 15, 20, 1000] // change per page values here
                ],
                // set the initial value

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#UsersTable")) {
                    $('#UsersTable').dataTable().fnDestroy();
                    $('#divUsersTable').html('<table class="table table-striped" width="100%" id="UsersTable"></table>');
                }
                initTable1();
            }
        };
    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["CustomerId"] = getfaqId;
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    }

    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}