﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Trip Rate";
}

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: darkslateblue;
        color: white;
    }

    .row {
        margin: 0 !important;
    }
    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }
    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Other Trip Info</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Other Trip Info</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divUsersTable">
                    <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddNewPricePackagePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">
                    Update A Price Package
                </h6>
            </div>
            <form method="post" id="frmProductype">
                <div class="modal-body">
                    <div class="row clearfix">
                        <input type="hidden" id="PackageId" name="PackageId" />
                        <div class="col-sm-12">
                            <label>Package Name</label>
                            <div class="form-group">
                                <input type="text" id="packagename" name="packagename" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Price</label>
                            <div class="form-group">
                                <input type="number" id="price" name="price" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="addNewproducttypebtn" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {
    <script>

        $(document).ready(() => {
            UsersDataTable.init();
            $("#frmProductype").validate({

                rules: {
                    PricePackageId: "required",
                    price: "required",
                },
                messages: {
                    PricePackageId: {
                        required: "PricePackage is required",
                    },
                    price: {
                        required: "Price is required",
                    },
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddPricePackage();
                }
            });
        });

        //jQuery(document).ready(function () {
        //    FormClientValidation12.init();
        //});
        //var FormClientValidation12 = function () {

        //    // basic validation
        //    var handleValidation12 = function () {

        //        var form1 = $('#frmProductype');
        //        var error1 = $('.alert-danger', form1);

        //        form1.validate({
        //            errorElement: 'span', //default input error message container
        //            errorClass: 'help-block help-block-error', // default input error message class
        //            focusInvalid: false, // do not focus the last invalid input
        //            ignore: "",  // validate all fields including form hidden input

        //            rules: {
        //                PricePackageId: {
        //                    required: true,
        //                },
        //                price: {
        //                    required: true,
        //                },
        //            },
        //            messages: {
        //                PricePackageId: {
        //                    required: "PricePackage is required",
        //                },
        //                price: {
        //                    required: "Price is required",
        //                },

        //            },

        //            invalidHandler: function (event, validator) { //display error alert on form submit
        //                //success1.hide();
        //                error1.show();
        //                App.scrollTo(error1, -200);
        //            },

        //            errorPlacement: function (error, element) { // render error placement for each input type
        //                var cont = $(element).parent('.input-group');
        //                if (cont.size() > 0) {
        //                    cont.after(error);
        //                } else {
        //                    element.after(error);
        //                }
        //            },

        //            highlight: function (element) { // hightlight error inputs
        //                $(element)
        //                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        //            },

        //            unhighlight: function (element) { // revert the change done by hightlight
        //                $(element)
        //                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
        //            },

        //            success: function (label) {
        //                label
        //                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
        //            },

        //            submitHandler: function (form) {
        //                AddPricePackage();
        //            }
        //        });
        //    }
        //    return {
        //        //main function to initiate the module
        //        init: function () {
        //            handleValidation12();
        //        }
        //    };
        //}();


             var UsersDataTable = function () {

                let initTable1 = function () {
                    let table = $('#UsersTable');

                    let oTable = table.dataTable({
                        "stateSave": true,
                        "autoWidth": false,
                        "paging": false,
                        "searching": false,
                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "No matching records found"
                        },
                        "pageLength": 10,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            async: true,
                            url: '@Url.Action(Actions.ViewAllData, Controllers.PackagePriceOtherRate)',
                            type: "post",
                            data: BuildSearchCriteria(),
                        },
                        "columns": [
                            {
                                "title": "Package Name", "data": "",
                                "render": function (data, type, row) {
                                    let htmlData = "";
                                    htmlData = `${row["PackageName"] == "" || row["PackageName"] == null ? '-' : row["PackageName"]}`;
                                    return htmlData;
                                }
                                , "orderable": false, "width": "3%"
                            },
                            //{
                            //    "title": "Price", "data": "",
                            //    "render": function (data, type, row) {
                            //        let htmlData = "";
                            //        htmlData = `${row["Price"] == "" || row["Price"] == null ? '-' : row["Price"]}`;
                            //        return htmlData;
                            //    }
                            //    , "orderable": false, "width": "3%"
                            //},
                            {
                                "title": "Price", "data": "",
                                "render": function (data, type, row) {
                                    let htmlData = "";
                                    if (row["PackageName"] == "GST") {
                                        htmlData = `${row["Price"] == "" || row["Price"] == null ? '-' : row["Price"]} &#37`;
                                    }
                                    else if (row["PackageName"] == "Driver Commision") {
                                        htmlData = `${row["Price"] == "" || row["Price"] == null ? '-' : row["Price"]} &#37;`;
                                    }
                                    else if (row["PackageName"] == "Discount") {
                                        htmlData = `${row["Price"] == "" || row["Price"] == null ? '-' : row["Price"]} &#37`;
                                    }
                                    else {

                                htmlData = `<i class="fa fa-inr"></i>${row["Price"] == "" || row["Price"] == null ? '-' : row["Price"]}`;
                                    }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Updated By", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["UpdatedBy"] == 0) {
                                    htmlData += '-';
                                }
                                else {

                                htmlData += `<p class="mb-0"><b>Update Date : </b>${row["UpdatedDateStr"] == "" || row["UpdatedDateStr"] == null ? '-' : row["UpdatedDateStr"]}</p>`;
                                htmlData += `<p class="mb-0"><b>Email : </b>${row["userEmail"] == "" || row["userEmail"] == null ? '-' : row["userEmail"]}</p>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        
                        {
                            "title": "Action", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<button class="btn btn-sm btn-outline-secondary mr-1" onclick="EditPackagePrice('${(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            //{
                            //    text: ' <b>+Add Price Package</b> ',
                            //    className: 'them-btn',
                            //    action: function (e, dt, node, config) {
                            //        OpenAddNewPricePackagePopup();
                            //    }
                            //},
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        if ($.fn.DataTable.isDataTable("#UsersTable")) {
                            $('#UsersTable').dataTable().fnDestroy();
                            $('#divUsersTable').html('<table class="table table-striped" width="100%" id="UsersTable"></table>');
                        }
                        initTable1();
                    }
                };
        }();

        //var FormClientValidation = function () {

        //    // basic validation
        //    var handleValidation = function () {

        //        var form1 = $('#frmProductype');
        //        var error1 = $('.alert-danger', form1);

        //        form1.validate({
        //            errorElement: 'span', //default input error message container
        //            errorClass: 'help-block help-block-error', // default input error message class
        //            focusInvalid: false, // do not focus the last invalid input
        //            ignore: "",  // validate all fields including form hidden input
        //            rules: {
        //                productcategory: {
        //                    required: true,
        //                },
        //                ProductTypeId: {
        //                    required: true,
        //                },
        //            },

        //            messages: {
        //                productcategory: {
        //                    required: "Product Category is required",
        //                },
        //                ProductTypeId: {
        //                    required: "Product Type is required",
        //                },
        //            },

        //            invalidHandler: function (event, validator) { //display error alert on form submit
        //                //success1.hide();
        //                error1.show();
        //                App.scrollTo(error1, -200);
        //            },

        //            errorPlacement: function (error, element) { // render error placement for each input type
        //                var cont = $(element).parent('.input-group');
        //                if (cont.size() > 0) {
        //                    cont.after(error);
        //                } else {
        //                    element.after(error);
        //                }
        //            },

        //            highlight: function (element) { // hightlight error inputs
        //                $(element)
        //                    .closest('.form-group').addClass('has-error'); // set error class to the control group
        //            },

        //            unhighlight: function (element) { // revert the change done by hightlight
        //                $(element)
        //                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
        //            },

        //            success: function (label) {
        //                label
        //                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
        //            },

        //            submitHandler: function (form) {
        //                AddPricePackage();
        //            }
        //        });
        //    }
        //    return {
        //        //main function to initiate the module
        //        init: function () {
        //            handleValidation();
        //        }
        //    };
        //}();


        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#PricePackageId").val("");
                $("#price").val("");
            }
            UsersDataTable.init();
            $("#AddNewPricePackagePopup").modal("hide");
        }


        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        //Add new product Category function
        function OpenAddNewPricePackagePopup() {
            $('#price').val('')
            $('#PricePackageId').val('')
            var $alertas = $('#AddNewPricePackagePopup');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#AddNewPricePackagePopup').modal('show');
        }

        function AddPricePackage() {

            $("#AddNewPricePackagePopup").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formData = new FormData();
            formData.append("Id", $("#PackageId").val());
            formData.append("Price", $("#price").val());
            formData.append("MasterHourId", $("#PricePackageId").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.PricePackageUpsert, Controllers.PackagePriceOtherRate)',
                async: false,
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        $('#AddNewPricePackagePopup').modal('hide');``
                        swal("Great!", response.Message, "success");

                        $('#ProductTypeId').val(0)
                        $('#productcategory').val('')
                        ProductCategoryDataTable.init();
                    }
                    else {
                        swal("Error !", response.Message, "error");
                        setTimeout(function () {
                        }, 2000);
                        $('#AddNewPricePackagePopup').modal('hide');

                    }

                    $(".loading").hide();
                    $("#addNewproducttypebtn").show();
                    $(".closeBtn").show();

                    //blank value for input
                    $('#ProductTypeId').val(0)
                    $('#productcategory').val('')

                    //$('#AddNewProductCategoryPopup').modal('hide');
                    //window.location.reload();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".loading").hide();
                    $("#addNewproducttypebtn").show();
                    $(".closeBtn").show();
                }
            });
         }

        function closeModal() {
            $('#productCategoryid').val(0)
            $('#productCategoryname').val('')
            $('#AddNewPricePackagePopup').modal('hide');
        }

        //Edit ProductCategory data fuction
        function EditPackagePrice(packagePriceId) {
            $('#AddNewPricePackagePopup').modal('show');
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetPricePackageById, Controllers.PackagePriceOtherRate)',
                data: { Id: packagePriceId},
                dataType: 'json',
                success: function (response) {
                    $('#PackageId').val(response.Item.Id)
                    $('#price').val(response.Item.Price)
                    $('#packagename').val(response.Item.PackageName)

                },
                error: function (error) {

                }
            });
        }
    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}