﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "MyDetails";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    .error {
        color: #dc3545
    }

    .btn.btn-primary.saveBtn1 {
        width: 150px;
        align-items: flex-end;
    }

    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn.btn-primary.saveBtn2 {
        width: 90px;
    }

    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }

    .btn.btn-secondary.closeBtn {
        width: 90px;
    }

    .DriverId-error {
        color: red;
    }

    thead {
        background: darkslateblue;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Drivers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active"><a id="cname"></a> Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="row clearfix driverdetail">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">

            <section style="background-color: #eee; padding-top:20px;">

                <div class="row">
                    @*<div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <h5>Driver</h5>
                                    <a href="" name="driverprofilepicturelogo" target="_blank">
                                        <img src="" alt="avatar" name="driverprofilepicture"
                                             class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3"><a id="drivername"></a></h5>
                                    </a>

                                </div>
                            </div>

                        </div>*@
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <a href="" name="profilepicturelogo" id="profilepicturelogo" target="_blank">
                                    @*<img onerror="DefaultImage(this);" class="rounded-circle round-img-table profile-size" src="${'@Configurations.NewApiUrl' + row['ProfilePictureStr']}">*@
                                    <img name="profilepicture" id="profilepicture" onerror="DefaultImage(this)" class="rounded-circle round-img-table profile-size full_img_profile" src="">
                                    @*alt="avatar" name="profilepicture"
                                        class="rounded-circle img-fluid" style="width: 150px;">*@
                                    <h5 class="my-3 profile_name"><a id="drivername"></a></h5>


                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-9 main_content">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="driveremail"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Gender</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="drivergender"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="drivermobileno"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Date Of Birth</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><a id="driverDOB"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Id Proof</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" name="idproofcust" target="_blank">
                                            <button type="button" class="btn btn-primary">View Id Proof</button>
                                        </a>
                                        <button type="button" id="IdProofUnApproved1" class="btn btn-secondary" onclick="IdProofUnApproved()"> Id Proof Approved </button>
                                        <button type="button" id="IdProofApproved1" class="btn btn-secondary" onclick="IdProofApproved()"> Id Proof Un Approved </button>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Id Proof</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <a href="" class="" name="driveridproof" target="_blank">
                                                <button type="button" class="btn btn-primary driveridproof">View Id Proof</button>
                                            </a>
                                        </div>
                                    </div>*@
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Rc Card</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="" name="rccardcust" target="_blank">
                                            <button type="button" class="btn btn-primary">Driving Licence</button>
                                        </a>
                                        <button type="button" id="unapprovedId" class="btn btn-secondary" onclick="RcCardUnApproved()"> Rc Card Approved </button>
                                        <button type="button" id="approvedId" class="btn btn-secondary" onclick="RcCardApproved()"> Rc Card Un Approved </button>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Rc Card</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <a href="" class="" name="driverlicence" target="_blank">
                                                <button type="button" class="btn btn-primary driverlicence">Driving Licence</button>
                                            </a>
                                        </div>
                                    </div>*@
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Driver Commision</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="DriverCommision"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">PendingAmount</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="PendingAmount"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">ReceivedAmount</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><i class="fa fa-inr"></i><a id="ReceivedAmount"></a></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    @*<input id="savebtn"  value="Make Payment" />*@
                                    <button id="savebtn" onclick="OpenAddPaymentPopup();" class="btn btn-primary saveBtn1" type="button">Make Payment</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divUsersTable">
                    <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                </div>
                <div class="body">
                    <div class="portlet-body table-responsive" id="divUsersTable">
                        <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal fadeIn" id="UsersFilterPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Trip Filters</h6>
            </div>
            <div class="modal-body">
                <div class="row clearfix">

                    <div class="col-12">
                        <label>Status</label>
                        <div class="form-group">
                            <select class="form-control" id="SearchSalonStatus" name="SearchSalonStatus">
                                <option value="">Select Status</option>
                                <option value="1">New Trip</option>
                                <option value="2">Assign Driver</option>
                                <option value="3">Trip Begin</option>
                                <option value="4">Trip End</option>
                                <option value="5">Trip Cancel By Customer</option>
                                <option value="6">Trip Confirm By Customer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-6">
                        <label>From Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" id="fromDate" name="fromDate" />
                        </div>
                    </div>

                    <div class="col-6">
                        <label>To Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" id="toDate" name="toDate" />
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-6">
                        <label>From Time</label>
                        <div class="form-group">
                            <input type="time" class="form-control" id="fromTime" name="fromTime" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label>To Time</label>
                        <div class="form-group">
                            <input type="time" class="form-control" id="toTime" name="toTime" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false);">Search</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="location" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="map"></div>
                <div id="LiveLat" hidden></div>
                <div id="LiveLong" hidden></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn2">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AddPaymentPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel1">
                    Make Payment
                </h6>
            </div>
            <form method="post" id="frmPayment">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="custom-label" for="Amount">Amount</label>
                                <input type="text" class="form-control" id="Amount" name="Amount" placeholder="Enter here...">
                                <span id="paymentError" style="color:red;display:none;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<input id="savebtn" type="submit" class="btn btn-primary saveBtn2" value="Send" />*@
                    <button type="submit" id="savebtn" class="btn btn-primary saveBtn2">Send</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div id="aaaadddd" hidden></div>
@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}
@section Scripts {
    <script>
        $(document).ready(() => {
            $("#paymentError").hide();
            DriverDetails(@ViewBag.DriverId);
        getfaqId = new URLSearchParams(window.location.search);
        getfaqId = parseInt((getfaqId.get('DriverId')));
            EditDriver(getfaqId);
            setTimeout(function () {
                if (IdProofApprovedVar == 0) {

                    $('#IdProofUnApproved1').hide();
                    $('#IdProofApproved1').show();
                }
                else {
                    $('#IdProofApproved1').hide();
                    $('#IdProofUnApproved1').show();
                }
                UsersDataTable.init();
                if (RcCardApprovedVar == 0) {

                    $('#unapprovedId').hide();
                    $('#approvedId').show();
                }
                else {
                    $('#approvedId').hide();
                    $('#unapprovedId').show();
                }
            }, 100)
          //  UsersDataTable.init();
        });
        var IdProofApprovedVar;
        var RcCardApprovedVar;


        function DriverDetails(DriverId) {

    id = @ViewBag.DriverId;
            if (DriverId > 0) {


                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DriverDetails, Controllers.Driver)',
                    data: { Id: id },
                    dataType: 'json',
                    success: function (result) {
                        //$('#drivername').html(result.Item.FirstName)
                        $('#drivername').html(result.Item.FirstName + " " + result.Item.LastName)
                        $('#tirpdrivername').html(result.Item.FirstName + " " + result.Item.LastName)
                        if ($('#drivername').val() == "") {
                            $('#drivername').val('-')
                        }
                        if ($('#tirpdrivername').val() == "") {
                            $('#tirpdrivername').val('-')
                        }
                        $('#driveremail').html(result.Item.Email)
                        $('#drivergender').html(result.Item.Gender)
                        $('#driverDOB').html(result.Item.DOB)
                        $('#drivermobileno').html(result.Item.MobileNo)
                        $('#DriverCommision').html(result.Item.DriverCommision)

                        $('#PendingAmount').html(result.Item.PendingAmount)
                        $('#ReceivedAmount').html(result.Item.ReceivedAmount)




                        //$('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                        //$('[name="rccardcust"]').attr("href", result.Item.RcCardStr);

                            if (result.Item.ProfilePicture != null && result.Item.ProfilePicture != "") {
                                $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                                $('[name="profilepicture"]').attr("src", result.Item.ProfilePictureStr);
                            } else {

                                    $('#profilepicturelogo').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");
                                    $('[name="profilepicture"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                            }



                        //$('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                        $('[name="driveridproof"]').attr("href", result.Item.IdProofStr);
                        if (result.Item.DrivingLicence == null) {
                            $('.driverlicence').attr("disabled", "disabled");
                        }
                        else {

                            $('[name="driverlicence"]').attr("href", result.Item.DrivingLicenceStr);
                        }

                        if (result.Item.IdProof == null) {
                            $('.driveridproof').attr("disabled", "disabled");
                        }
                        else {

                            $('[name="driveridproof"]').attr("href", result.Item.RcCardStr);
                        }

                        if (result.Item.IdProof != null && result.Item.IdProof != "") {
                    $('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                } else {

                    $('[name="idproofcust"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                //$('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                        IdProofApprovedVar = result.Item.IsIdProofApproved;
                        if (result.Item.RcCard != null && result.Item.RcCard != "") {
                            $('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                        } else {

                            $('[name="rccardcust"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                        }
                        RcCardApprovedVar = result.Item.IsDrivingLicenceApproved;
                    },
                    error: function (error) {
                    }
                });
            }
            else {
                $('#tirpdrivername').html('-');
                $('#drivername').html('-');
            }
    }
    function EditDriver(getfaqId) {
        id = getfaqId
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.DriverDetails, Controllers.Driver)',
            data: { Id: id },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                $('#cname').html(result.Item.FirstName)
                $('#cfname').html(result.Item.FirstName +" "+ result.Item.LastName)
                $('#emailcust').html(result.Item.Email)
                $('#gendercust').html(result.Item.Gender)
                $('#dobcust').html(result.Item.DOB)
                $('#phonecust').html(result.Item.MobileNo)
                //if (result.Item.ProfilePicture == null) {
                //    $('[name="profilepicture"]').attr("src", "http://taxiadmin.rushkar.com/assets/images/user-default-profile.png");
                //}
                //else {
                //    $('[name="profilepicture"]').attr("src", result.Item.ProfilePictureStr);
                //}
                //$('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);

                    if (result.Item.ProfilePicture != null && result.Item.ProfilePicture != "") {
                        $('[name="profilepicturelogo"]').attr("href", result.Item.ProfilePictureStr);
                        $('[name="profilepicture"]').attr("src", result.Item.ProfilePictureStr);
                    } else {

                            $('#profilepicturelogo').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");
                            $('[name="profilepicture"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                    }

                $('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                $('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                if (result.Item.IdProof != null && result.Item.IdProof != "") {
                    $('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                } else {

                    $('[name="idproofcust"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                //$('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                IdProofApprovedVar = result.Item.IsIdProofApproved;


                if (result.Item.RcCard != null && result.Item.RcCard != "") {
                    $('[name="rccardcust"]').attr("href", result.Item.RcCardStr);
                } else {

                    $('[name="rccardcust"]').attr("href", "https://www.apricotmaps.com/resources/Pictures/docs/no-image.png");

                }
                //$('[name="idproofcust"]').attr("href", result.Item.IdProofStr);
                RcCardApprovedVar = result.Item.IsDrivingLicenceApproved;

            },
            error: function (error) {
            }
        });
    }

        @*function DrivingLicenceApproved() {
            Id = getfaqId
            swal({
                title: "Are you sure ?",
                text: "You will be Approved Driving Licence Of Driver !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedDrivingLicence(Id,"approved");
               });
        }

        function ApprovedUnApprovedDrivingLicence(rui, type) {
            myid = btoa(rui);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedDrivingLicence, Controllers.Driver)',
                data: { ri: myid },
                dataType: 'json',
                success: function (response) {
                    if (type == "unapproved") {
                        swal("In Activated !", "The Driving Licence has been un approved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Driving Licence has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "unapproved") {
                        swal("Error !", "An error occured while un-approved Driving Licence of  Driver.", "error");
                    } else if (type == "approved") {
                        swal("Error !", "An error occured while approved Driving Licence of Driver.", "error");
                    }

                }
            });
        }*@
        function RcCardApproved() {
        Id = getfaqId
        swal({
            title: "Are you sure ?",
            text: "You will be Approved Rc Card Of Driver !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#dc3545",
            confirmButtonText: "Yes, do it !",
            closeOnConfirm: false
        }, function () {
            ApprovedUnApprovedRcCard(Id, "approved");
            $('#approvedId').hide();
            $('#unapprovedId').show();
        });
    }
        function RcCardUnApproved() {
            Id = getfaqId

            swal({
                title: "Are you sure ?",
                text: "You will be Un Approved Rc Card Of Driver !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedRcCard(Id, "unapproved");
                $('#unapprovedId').hide();
                $('#approvedId').show();
            });
        }
        function ApprovedUnApprovedRcCard(rui, type) {
            myid = btoa(rui);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedDrivingLicence, Controllers.Driver)',
                data: { ri: myid },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();
                    if (type == "unapproved") {
                        swal("In Activated !", "The Rc Card has been unapproved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Rc Card has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "approved") {
                        swal("Error !", "An error occured while unapproved Rc Card of  Driver.", "error");
                    } else if (type == "unapproved") {
                        swal("Error !", "An error occured while approved Rc Card of Driver.", "error");
                    }

                }
            });
        }
        function IdProofApproved() {
            Id = getfaqId
            swal({
                title: "Are you sure ?",
                text: "You will be Approved Id Proof Of Driver!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedIdProof(Id, "approved");
                $('#IdProofApproved1').hide();
                $('#IdProofUnApproved1').show();
               });
        }
        function IdProofUnApproved() {
            Id = getfaqId

            swal({
                title: "Are you sure ?",
                text: "You will be Un Approved Id Proof Of Driver !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                ApprovedUnApprovedIdProof(Id, "unapproved");
                $('#IdProofUnApproved1').hide();
                $('#IdProofApproved1').show();
            });
        }
        function ApprovedUnApprovedIdProof(rui, type) {
            myid = btoa(rui);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ApprovedUnApprovedIdProof, Controllers.Driver)',
                data: { ri: myid },
                dataType: 'json',
                success: function (response) {
                    if (type == "unapproved") {
                        swal("In Activated !", "The Driver Id Proof has been unapproved successfully.", "success");
                    } else if (type == "approved") {
                        swal("Activated !", "The Driver Id Proof has been approved successfully.", "success");
                    }
                },
                error: function (error) {
                    if (type == "approved") {
                        swal("Error !", "An error occured while un-approved id proof  of  Driver.", "error");
                    } else if (type == "unapproved") {
                        swal("Error !", "An error occured while approved id proof of Driver.", "error");
                    }

                }
            });
        }


    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}

<script>

        $(document).ready(() => {
           DriverDetails(@ViewBag.DriverId);
            UsersDataTable.init();
          //s  $("#paymentError").hide();
            $("#frmPayment").validate({

                rules: {

                    Amount: "required",
                },
                messages: {

                    Amount: {
                        required: "Amount is required",
                    },

                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    addpayment();
                }
            });
        });

    function OpenAddPaymentPopup() {
            $('#payment').val('')
            //$('#PricePackageId').val('')
            var $alertas = $('#AddPaymentPopup');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#AddPaymentPopup').modal('show');
            $('#defaultModalLabel1').text('Add Payment');
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    function addpayment() {
        let amount = parseInt($("#Amount").val());
        let isValid = true;
        if (amount < 0) {
            $("#paymentError").text("Payment must be greater than 0");
            $("#paymentError").show();
            isValid = false;
        }

        if (isValid) {
             $.ajax({
                type: "post",
               url: '@Url.Action("PaymentUpsert", "Payment")',
               async: false,
                data: ({
                    DriverId: @ViewBag.DriverId,
                    Amount: $("#Amount").val()

                }),
                datatype: 'json',
                contenttype: false,
                 processdata: false,
                 success: function (response) {
                     if (response.Code == 400) {
                         //swal('First delete a State Head');
                         swal({
                             title: "Amount must be less than or equal to driver commision",
                             icon: "warning",
                             buttons: true,
                             dangerMode: true,
                         });
                         UsersDataTable.init();

                         $('#AddPaymentPopup').modal('hide');
                         $('#Amount').val('')
                          DriverDetails(@ViewBag.DriverId);
                     } else {
                         swal("Great!", "Payment Add Successfully", "success");

                         UsersDataTable.init();
                         $('#AddPaymentPopup').modal('hide');
                         $('#Amount').val('')
                          DriverDetails(@ViewBag.DriverId);
                     }
                 },
                 error: function (error) {
                     swal('faild', '', 'info')
                 }

            });
        }

    }
        var UsersDataTable = function () {

                let initTable1 = function () {
                    let table = $('#UsersTable');

                    let oTable = table.dataTable({
                        "stateSave": true,
                        "autoWidth": false,
                        "paging": true,
                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "No matching records found"
                        },
                        "pageLength": 10,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            async: true,
                            url: '@Url.Action(Actions.ViewAllData, Controllers.Trip)',
                            type: "post",
                            data: BuildSearchCriteria(),
                    },
                    "columns": [

                        {
                            "title": "Trip Details", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0 text-truncate" title="${row["PickUpDateStr"]}"><b>TripDate: </b>${row["PickUpDateStr"]}</p>`;
                                htmlData += `<p class="mb-0 text-truncate" title="${row["PickUpTimeStr"]}"><b>TripTime: </b>${row["PickUpTimeStr"]}</p>`;
                                htmlData += `<p class="mb-0 text-truncate " title="${row["PickUpAddress"]}"><b>PickUpAddress : </b>
                                    <a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["PickUpLat"]},${row["PickUpLong"]}">${row["PickUpAddress"] == "" || row["PickUpAddress"] == null ? '-' : row["PickUpAddress"]}</a>
                                </p>`;
                                htmlData += `<p class="mb-0 text-truncate " title="${row["DropOffAddress"]}"><b>DropOffAddress : </b>
                                    <a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["DropOffLat"]},${row["DropOffLong"]}">${row["PickUpAddress"] == "" || row["DropOffAddress"] == null ? '-' : row["DropOffAddress"]}</a>
                                </p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Customer Details", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0"><b>Name: </b>${row["CustomerName"] == "" || row["CustomerName"] == null ? '-' : row["CustomerName"]}</p>`;
                                htmlData += `<p class="mb-0"><b>Country : </b>${row["CustomerCountry"] == "" || row["CustomerCountry"] == null ? '-' : row["CustomerCountry"]}</p>`;
                                htmlData += `<p class="mb-0"><b>State : </b>${row["CustomerState"] == "" || row["CustomerState"] == null ? '-' : row["CustomerState"]}</p>`;
                                htmlData += `<p class="mb-0"><b>City : </b>${row["CustomerCity"] == "" || row["CustomerCity"] == null ? '-' : row["CustomerCity"]}</p>`;
                                htmlData += `<p class="mb-0"><b>MobileNo: </b>${row["CustomerMobileNo"] == "" || row["CustomerMobileNo"] == null ? '-' : row["CustomerMobileNo"]}</p>`;
                                htmlData += `<p class="mb-0"><b>ZipCode : </b>${row["CustomerPinCode"] == "" || row["CustomerPinCode"] == null ? '-' : row["CustomerPinCode"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        //{
                        //    "title": "Driver Details", "data": "",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        htmlData += `<p class="mb-0"><b>Name : </b>${row["AssignedDriverName"] == "" || row["AssignedDriverName"] == null ? '-' : row["AssignedDriverName"]}</p>`;
                        //        htmlData += `<p class="mb-0"><b>MobileNo : </b>${row["AssignedDriverMobileNo"] == "" || row["AssignedDriverMobileNo"] == null ? '-' : row["AssignedDriverMobileNo"]}</p>`;
                        //        htmlData += `<p class="mb-0"><b>VehicleNo : </b>${row["AssignedDriverVehicleNo"] == "" || row["AssignedDriverVehicleNo"] == null ? '-' : row["AssignedDriverVehicleNo"]}</p>`;
                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        //{
                        //    "title": "Created Date", "data": "",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        htmlData = `${row["CreatedDateStr"] == "" || row["CreatedDateStr"] == null ? '-' : row["CreatedDateStr"]}`;
                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "Final Amount", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<i class="fa fa-inr"></i>${row["FinalAmount"] == "" || row["FinalAmount"] == null ? '-' : row["FinalAmount"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Driver Commision", "data": "DriverCommision",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<i class="fa fa-inr"></i>${row["DriverCommision"] == "" || row["DriverCommision"] == null ? '-' : row["DriverCommision"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        //{
                        //    "title": "Customer Remarks", "data": "",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        htmlData = `${row["TripRemarksByCustomer"] == "" || row["TripRemarksByCustomer"] == null ? '-' : row["TripRemarksByCustomer"]}`;
                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "Status", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["TripStatusId"] == 1) {
                                    htmlData = `<button class="badge badge-primary">New Trip</button>`;
                                } else if (row["TripStatusId"] == 2) {
                                    htmlData = `<button class="badge badge-info">Assign Driver</button>`;
                                } else if (row["TripStatusId"] == 3) {
                                    htmlData = `<button class="badge badge-warning">Trip Begin</button>`;
                                } else if (row["TripStatusId"] == 4) {
                                    htmlData = `<button class="badge badge-success">Trip End</button>`;
                                } else if (row["TripStatusId"] == 5) {
                                    htmlData = `<button class="badge badge-danger">TRIP CANCELLED BY CUSTOMER</button>`;
                                } else if (row["TripStatusId"] == 6) {
                                    htmlData = `<button class="badge badge-secondary">Trip Confirm By Customer</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a href="@Url.Action(Actions.TripPageDetails, Controllers.Trip)?FaqId=${(row["Id"])}"><button class="btn btn-sm btn-outline-secondary mr-1"><i class="fa fa-eye"></i></button></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            //{
                            //    text: 'Filters',
                            //    className: 'them-btn',
                            //    action: function (e, dt, node, config) {
                            //        OpenUsersFiltersPopup();
                            //    }
                            //},
                            //{
                            //    text: 'Reset',
                            //    className: 'them-reset-btn',
                            //    action: function () {
                            //        SearchReset(true)
                            //    }
                            //}
                            //{ extend: 'excel', className: 'them-btn' }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        if ($.fn.DataTable.isDataTable("#UsersTable")) {
                            $('#UsersTable').dataTable().fnDestroy();
                            $('#divUsersTable').html('<table class="table table-striped" width="100%" id="UsersTable"></table>');
                        }
                        initTable1();
                    }
                };
        }();

        function BuildSearchCriteria() {
            try {
                var param = {};
                //param["TripStatusId"] = $("#SearchSalonStatus").val();
                //param["TripDateFrom"] = $("#fromDate").val();
               param["DriverId"] = @ViewBag.DriverId;
                //param["TripDateTo"] = $("#toDate").val();
                //param["TripTimeFrom"] = $("#fromTime").val();
                //param["TripTimeTo"] = $("#toTime").val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        //Fillter modal open function
        const OpenUsersFiltersPopup = () => {
            $("#UsersFilterPopup").modal("show");
        }

        function assignedDriver(Id) {
            $('#tripIdhidden').append(Id);
            $('#assignedDriverModel').modal('show');
        }

        //Fillter date reset function
        const SearchReset = (isReset = false) => {
            if (isReset == true) {
                $("#SearchSalonStatus").val("");
                $("#toDate").val("");
                $("#fromTime").val("");
                $("#fromDate").val("");
                $("#toTime").val("");
            }
            UsersDataTable.init();
            $("#UsersFilterPopup").modal("hide");
        }

        var SalonId = "";
        const changeStatus = (salonId) => {
            SalonId = btoa(salonId);
            $('#salonsChangestatus').modal('show');
        }

        //changeSalonstatus function
        function updateSalonstatus() {
            $('#salonsChangestatus').modal('hide');
            var SalonstatusId = $('#changeSalonstatus').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ChangeStatusTrip, Controllers.Customer)',
                data: { TripId: SalonId, statusId: $('#changeSalonstatus').val() },
                dataType: 'json',
                success: function (response) {
                    UsersDataTable.init();

                           if (TripStatusId == 1) {
                               swal("New Trip !", "The Status has been New Trip.", "success");
                           } else if (TripStatusId == 2) {
                               swal("Assign Driver !", "The Status has been Assign Driver.", "success");
                           } else if (TripStatusId == 3) {
                               swal("Trip Begin !", "The Status has been Trip Begin.", "success");
                           } else if (TripStatusId == 4) {
                               swal("Trip End !", "The Status has been Trip End.", "success");
                           } else if (TripStatusId == 5) {
                               swal("Trip Cancel By Customer !", "The Status has been Trip Cancel By Customer.", "success");
                    }
                },
                error: function (error) {
                    if (SalonstatusId == 3) {
                        swal("Error !", "An error occured while Approved the Salon.", "error");
                    } else if (SalonstatusId == 4) {
                        swal("Error !", "An error occured while Rejected the Salon.", "error");
                    } else if (SalonstatusId == 5) {
                        swal("Error !", "An error occured while Approval Pending the Salon.", "error");
                    }
                }
            });
        }

        function updateDriverAssigned() {
             $('#assignedDriverModel').modal('hide');
            var driverid = $('#DriverId').val();
            var tripId = parseInt($('#tripIdhidden').text());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AssignedDriver, Controllers.Trip)',
                data: { TripId: tripId, DriverId: driverid},
                dataType: 'json',
                success: function (response) {
                    swal("Assigned !", "The Driver has been Assigned.", "success");
                    UsersDataTable.init();
                },
                error: function (error) {
                }
            });
        }

</script>
