﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;
@Html.AntiForgeryToken()

<style>
    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }
    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }
    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }
</style>

<div class="block-header">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Change Password</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a>
                <li class="breadcrumb-item active">Change Password</li>
            </ul>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <form class="form-auth-small" method="post" id="frmuser">
                    <div class="row clearfix">
                        <input type="hidden" id="userId" />
                        <div class="col-md-4 col-sm-12">
                            <label for="oldPassword">Current Password</label>
                            <div class="form-group">
                                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Current Pasword *">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="newPassword">New Password</label>
                            <div class="form-group">
                                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password *">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label for="confirmPassword">Confirm Password</label>
                            <div class="form-group">
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password *">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input terms-conditions" tabindex="6" id="passwordCheckbox" name="passwordCheckbox">
                                <label class="custom-control-label text-muted" for="passwordCheckbox"> Show Password</label>
                            </div>
                        </div>
                        <div class="col-12" style="text-align:right;">
                            <input type="submit" id="userSave" class="btn btn-primary" value="Save">
                            <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Saving...
                            </button>
                            <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})" class="btn btn-secondary closeBtn" id="userClose">Cancel</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        $('#passwordCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('input[type="password"]').prop('type', 'text');

            } else {
                $('#oldPassword').prop('type', 'password');
                $('#newPassword').prop('type', 'password');
                $('#confirmPassword').prop('type', 'password');
            }
        });

        jQuery(document).ready(function () {
            FormuserValidation.init();
        });


    var FormuserValidation = function () {

            // basic validation
            var handleValidation = function () {

                var form1 = $('#frmuser');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",  // validate all fields including form hidden input
                    rules: {
                        oldPassword: {
                            required: true,
                        },
                        newPassword: {
                            required: true,
                        },
                        confirmPassword: {
                            required: true,
                        }
                    },
                    messages: {
                        oldPassword: {
                            required: "Current Password is required",
                        },
                        newPassword: {
                            required: "New Password is required",
                        },
                        confirmPassword: {
                            required: "Confirm Password is required",
                        },
                    },

                    invalidHandler: function (event, validator) { //display error alert on form submit
                        //success1.hide();
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) { // render error placement for each input type
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) { // hightlight error inputs
                        $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                    },

                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                    },

                    submitHandler: function (form) {
                        Adituser();
                    }
                });
            }
            return {
                //main function to initiate the module
                init: function () {
                    handleValidation();
                }
            };
    }();

        function Adituser() {
            
        $("#userSave").hide();
        $("#userClose").hide();
        $(".loading").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChangePassword, Controllers.ChangePassword)',
            data: ({ oldPassword: $("#oldPassword").val(), newPassword: $("#newPassword").val(), confirmPassword: $("#confirmPassword").val()}),
            dataType: 'json',
            success: function (result1) {
                
                if (result1.Code == 200) {
                    swal("Great!", result1.Message, "success");
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        window.location.href= '@Url.Action(Actions.Signin, Controllers.Account, new { Area = "" })';
                    }, millisecondsToWait);
                } else if (result1.Code == 403) {
                    swal("Error !",result1.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
                else {
                    swal("Error !", "An error occured. Try Again", "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
            },
            error: function (error) {
                $(".loading").hide();
                $("#userSave").show();
                $("#userClose").show();

                //show close button
            }
        });
            }





    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}