﻿@using TaxiApp.Common;
@using TaxiAppAdmin.Pages;
@using TaxiAppAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Notes";
}

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

  
    .them-btn {
        background: darkslateblue !important;
        color: #fff !important;
        border: none !important;
    }
    .btn-primary {
        color: #fff;
        background-color: darkslateblue;
        border-color: darkslateblue;
    }
    thead {
        background: darkslateblue;
        color: white;
    }
    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }
</style>

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><a id="headingtext" href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Manage Notes</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(Actions.Index,Controllers.Home,new { Area=""})"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Manage Notes</li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
            </div>
            <div class="body">
                <div class="portlet-body table-responsive" id="divUsersTable">
                    <table class="table table-striped table-bordered table-hover" id="UsersTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="AddNewnotePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">
                   Add Note
                </h6>
            </div>
            <form method="post" id="frmNote">
                <div class="modal-body">
                    <div class="row clearfix">
                        <input type="hidden" id="NoteId" name="NoteId" />
                        @*<div class="col-sm-12">
                            <label>Note</label>
                            <div class="form-control">
                                <textarea id="note" name="note" placeholder="Enter note here..."></textarea>
                            </div>
                        </div>*@
                    <div class="col-12">
                        <label>Note</label>
                        <textarea id="note" name="note" class="form-control" placeholder="Enter note here..."></textarea>

                    </div>
                        @*<div class="col-sm-12">
                            <label>Price</label>
                            <div class="form-group">
                                <input type="number" id="price" name="price" class="form-control" />
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="savebtn" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section dashboardscripts{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.bootstrap.js"></script>
}

@section Scripts {
    <script>

        $(document).ready(() => {
            UsersDataTable.init();

            $("#frmNote").validate({

                rules: {
                    note: "required",
                },
                messages: {
                    note: {
                        required: "Note is required",
                    },
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddNewNote();
                }
            });
        });
             var UsersDataTable = function () {

                let initTable1 = function () {
                    let table = $('#UsersTable');

                    let oTable = table.dataTable({
                        "stateSave": true,
                        "autoWidth": false,
                        "paging": true,
                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "No matching records found"
                        },
                        "pageLength": 10,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            async: true,
                            url: '@Url.Action(Actions.NotesAllData, Controllers.MasterNotes)',
                            type: "post",
                            data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Note", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["Notes"] == "" || row["Notes"] == null ? '-' : row["Notes"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Created Date", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `${row["CreatedDateStr"] == "" || row["CreatedDateStr"] == null ? '-' : row["CreatedDateStr"]}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Update Date", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["UpdatedBy"] == 0) {
                                    htmlData += '-';
                                }
                                else {

                                htmlData = `${row["UpdatedDateStr"] == "" || row["UpdatedDateStr"] == null ? '-' : row["UpdatedDateStr"]}`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<button class="btn btn-sm btn-outline-secondary mr-1" onclick="ConfirmMessageNotedelete('${(row["Id"])}');"><i class="fa fa-trash-o" aria-hidden="true"></i></button>`;
                                htmlData += `<button class="btn btn-sm btn-outline-secondary mr-1" onclick="EditNote('${(row["Id"])}');"><i class="fa fa-edit"></i></button>`;                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [

                               {
                                text: ' <b>+Add new note</b> ',
                                className: 'them-btn',
                                action: function (e, dt, node, config) {
                                    OpenAddNewNotePopup();
                                }
                            },

                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        if ($.fn.DataTable.isDataTable("#UsersTable")) {
                            $('#UsersTable').dataTable().fnDestroy();
                            $('#divUsersTable').html('<table class="table table-striped" width="100%" id="UsersTable"></table>');
                        }
                        initTable1();
                    }
                };
        }();

        function EditNote(NoteId) {
            $('#AddNewnotePopup').modal('show');
            $('#defaultModalLabel').text('Edit Note');
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetNotesById, Controllers.MasterNotes)',
                data: { Id: NoteId },
                dataType: 'json',
                success: function (response) {
                    $('#NoteId').val(response.Item.Id)
                    $('#note').val(response.Item.Notes)

                },
                error: function (error) {

                }
            });
        }

        function OpenAddNewNotePopup() {
            $('#note').val('')
            //$('#PricePackageId').val('')
            var $alertas = $('#AddNewnotePopup');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#AddNewnotePopup').modal('show');
            $('#defaultModalLabel').text('Add New Note');
        }

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }


        function ConfirmMessageNotedelete(noteid) {
            swal({
                title: "Are you sure ?",
                text: "You will be deleting this note !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, do it !",
                closeOnConfirm: false
            }, function () {
                Notedelete(noteid);
            });
        }

        function Notedelete(noteid) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action(Actions.DeleteNotes, Controllers.MasterNotes)",
                async: false,
                data: ({ Id: noteid }),
                dataType: 'json',
                success: function (response) {

                    swal("Great!", response, "success");
                    UsersDataTable.init();
                },
                error: function (response) {
                    swal("Opps!", "An error occured ! Please try again.", "error");
                }
            });
        }

          function AddNewNote() {

              $("#AddNewnotePopup").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formData = new FormData();
              formData.append("Id", $("#NoteId").val());
            formData.append("Notes", $("#note").val());

            $.ajax({
                type: "POST",
               url: '@Url.Action(Actions.NotesUpsert, Controllers.MasterNotes)',
                async: false,
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response.Code == 200) {
                        $('#AddNewnotePopup').modal('hide');``
                        swal("Great!", response.Message, "success");

                        UsersDataTable.init();
                    }
                    else {
                        swal("Error !", response.Message, "error");
                        setTimeout(function () {
                        }, 2000);
                        $('#AddNewnotePopup').modal('hide');

                    }

                    $(".loading").hide();
                    $("#savebtn").show();
                    $(".closeBtn").show();

                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".loading").hide();
                    $("#savebtn").show();
                    $(".closeBtn").show();
                }
            });
         }



    </script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
}